<header class="bg-black text-white">
        <div class="max-w-screen-xl mx-auto px-6 py-5 flex justify-between items-center">
            <div>
                <%= image_tag("kishimako.png", class:"rounded-full overflow-hidden w-10 ml-7", alt: "kishimakolog") %>
            </div>
                <nav>
                    <ul class="flex">
                        <li class="ml-auto "><%= link_to "ログイン", class: "hover:text-gray-300 transition duration-300" %></li>
                        <li class="ml-10 mr-10"><%= link_to "会員登録", class: "hover:text-gray-300 transition duration-300" %></li>
                    </ul>
                </nav>
            </div>
    </header>

    <div>
        <nav class="text-white bg-gray-600 w-screen py-3 mx-auto">
            <div class="max-w-screen-xl mx-auto px-4"> 
                <ul class="flex justify-between container items-center">
                    <li class="hover:bg-gray-400 transition-all duration-200 flex items-center">
                    <%= link_to "ホーム", 'home', class:"text-xl flex items-center justify-center px-6 py-3" %></li>
                    <li class="hover:bg-gray-400 transition-all duration-200 flex items-center">
                    <%= link_to "サービス一覧", 'service', class:"text-xl flex items-center justify-center px-6 py-3" %></li>
                    <li class="hover:bg-gray-400 transition-all duration-200 flex items-center">
                    <%= link_to "料金", 'fee', class:"text-xl flex items-center justify-center px-6 py-3" %></li>
                    <li class="hover:bg-gray-400 transition-all duration-200 flex items-center">
                    <%= link_to "スタッフ紹介", 'staff', class:"text-xl flex items-center justify-center px-6 py-3" %></li>
                    <li class="hover:bg-gray-400 transition-all duration-200 flex items-center">
                    <%= link_to "店舗一覧", 'shop', class:"text-xl flex items-center justify-center px-6 py-3" %></li>
                    <li class="hover:bg-gray-400 transition-all duration-200 flex items-center">
                    <%= link_to "お問い合わせ", 'contact', class:"text-xl flex items-center justify-center px-6 py-3" %></li>
                </ul>
            </div>
        </nav>
    </div>
