<!DOCTYPE html>
<html>
  <head>
    <title>kisimako <%= yield(:title) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="utf-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.4/css/all.css">

  </head>

  <body>

  <div id="loading">
    <%= image_tag("kishimako.png", class: "spinner") %>
  </div>

    <main id="content" class="spinner2">
      <%= render partial: "layouts/header"%>
      <%= yield %>
      <button id="scroll-to-top-btn">≫</button>
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
    </main>
  </body>
</html>
